@font-face {
    font-family: 'LatinModernMono10Regular';
    src: url('./../fonts/lmmono10-regular-webfont.eot');
    src: url('./../fonts/lmmono10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/lmmono10-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: LatinModernMono10Regular, Verdana, sans-serif;
    font-size: 13px;}

#wrapper{
    margin: 0 auto;
    width: 1000px;
	position: relative;
	background: Black; }

.clear-both{
	clear: both;}
	
#header{
    height: 25px;
    width: 1000px;
    background: AntiqueWhite;}

#nav{
    height: 40px;
    width: 1000px;
    background: Khaki;}

#products{
    width: 150px;
	position: absolute;
	right: 0;
    background: LightGreen;}

#concept{
    width: 850px;
    height: 200px;
	position: relative;
    background: orange;}

#content{
    width: 850px;
    position: relative;
	background: Pink;}

#footer{
    height: 40px;
    width: 1000px;
    background: LightGray;
    clear: both;
}
